@font-face {
  font-family: oppoSans;
  src: url(../ttf/OPlusSans3-Regular.ttf);
}

html {
  font-family: oppoSans, serif !important;
  font-size: 16px;
  color: #111827;
}

button {
  border: none;
}

/* 整个滚动条的样式 */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  border: 2px solid #f2f2f2;
  background-color: #F2F2F2;
}

/* 滚动条的轨道两端按钮，允许通过点击微调小方块的位置 */
::-webkit-scrollbar-button {
  display: none;
}

/* 滚动条的轨道样式 */
::-webkit-scrollbar-track {
  background-color: #F2F2F2;
}

/* 内层轨道样式 */
::-webkit-scrollbar-track-piece {
  background-color: #f2f2f2;
}

/* 滚动条里面的小方块，能上下移动 */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  box-shadow: inset 0 0 1px 0 #f2f2f2;
  border: 3px solid #f2f2f2;
  background-color: #D9D9D9;
}

/* 滚动条滑块hover时样式 */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #c0c0c0;
}